*{
    margin: 0;
    padding: 0;
}


body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("Avengers-bg.jpg");
    background-size: cover;
    font-family: Poppins;
}

.logo{
    width: 150px;
    margin-top: 18px;
}

.header{
    height: 10%;
}

.movie-details{
    margin: 3%  0;
}
.left-box{
    color: white;
    margin: 15px 0;
    padding: 20px;
}

.casting img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.watch {
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    display: inline-block;
    margin-top: 35px;
    margin-right: 10px;
    color: #fff !important;
    background: #107afd;
    font-weight: bold;
    
}

.Download{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    display: inline-block;
    margin-top: 35px;
    margin-right: 10px;
    color: #fff !important;
    background: green;
    font-weight: bold;
    border: 1px solid #fff;

}

.fas{
    margin: 0px 5px;
}

.movie-img{
    height: 350px;
    box-shadow: -4px 4px 5px 0;
}